parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$filename of function fopen expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Command/AnalyzeCommand.php
